@model PartnerMan.Models.PartnerModel

<div class="row">
    <div class="col-md">
        <form asp-action="Create">
            <input type="hidden" id="callAfterSuccessClose" value="partnersTableRefresh()" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a id="addAddressRowCreate" href="#" class="btn btn-block btn-primary">Cím hozzáadása</a>
            </div>
            <div id="addressesContainer">
                @Html.EditorFor(model => model.Addresses)
            </div>
        </form>
    </div>
</div>
