@model PartnerMan.Models.PartnerModel

<h3>Biztosan törli a partnert?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
    </dl>
    
    @Html.Display("Addresses")

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @Html.AntiForgeryToken()
        <input type="hidden" id="callAfterSuccessClose" 
            value="window.location.reload();" />
    </form>
</div>
