<div class="mb-2">
    <button id="addPartnerBtn" type="button"
            get-url="@Url.Action("Create")"
            result-target-id="#mainModal div.modal-body" call-after-success-close="serversTableRefresh"
            class="btn btn-primary" data-toggle="modal" data-target="#mainModal">
        +
    </button>
</div>


<table id="pertnersTable" width="100%" class="table row-border" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Név</th>
            </tr>
        </thead>
        <tbody>
         </tbody>
    </table>

@section Scripts
    {
    <script>
        $(function () {

            var t = $("#pertnersTable").DataTable(
                {
                    columns: [
                        {
                            data: "id"
                        },
                        {
                            data: "name"
                        }
                    ],
                    processing: true,
                    serverSide: true,
                    ajax: '@Url.Action("GetPartnerRows")'
                }
            );

            $("body").on("click", "#addPartnerBtn",
                function () {
                    
                    $.get(
                        "@Url.Action("Create")",
                        function (data) {
                            $("#mainModalBody").html("");
                            $("#mainModalBody").html(data) 
                        }
                    );
            });

            $("body").on("click", "#addAddressRow",
                function () {
                    $.get(
                        "@Url.Action("CreateAddressRow")",
                        function (data) { $("#addressesContainer").append(data) }
                    );
            });
        });

    </script>
}


