

<table id="pertnersTable" width="100%" class="table row-border" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Név</th>
            </tr>
        </thead>
        <tbody>
         </tbody>
    </table>

@section Scripts
    {
    <script>
        $(function () {

            var t = $("#pertnersTable").DataTable(
                {
                    columns: [
                        {
                            data: "id"
                        },
                        {
                            data: "name"
                        }
                    ],
                    processing: true,
                    serverSide: true,
                    ajax: '@Url.Action("GetPartnerRows")'
                }
            );

        });

    </script>
}