@model AddressModel
<div class="row">
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="col-2">
        <label class="control-label">Országkód</label>
        @Html.DisplayFor(model => model.CountryCode)
    </div>   
    <div class="col-2">
        <label class="control-label">Irányítószám</label>
        @Html.DisplayFor(model => model.PostalCode)
    </div>
    <div class="col-4">
        <label class="control-label">Város</label>
        @Html.DisplayFor(model => model.City)
    </div>
    <div class="col-4">
        <label class="control-label">Utca, házszám</label>
        @Html.DisplayFor(model => model.Address)
    </div>

</div>